* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  background-image: url(/img/mountains.png);
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: inline-flex;
  justify-content: center;
}
.container {
  width: 400px;
  height: 400px;
  border: 2px solid black;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 50%;
  box-shadow: 15px 15px 10px #000000, 15px 15px 20px #323296;

  background-color: #060652;
}
.clock {
  width: 385px;
  height: 385px;
  border: 2px solid rgb(0, 0, 0);
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  /* background: url(clock.png); */
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  box-shadow: inset 15px 8px 10px #000000, inset -8px -10px 10px #323296;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.hr {
  width: 150px;
  height: 150px;
}
.min {
  width: 200px;
  height: 200px;
}
.sec {
  width: 250px;
  height: 250px;
}
.hr,
.min,
.sec {
  /* border: 2px solid black; */
  position: absolute;
  display: flex;
  justify-content: center;
}
.clock::before {
  content: "";
  height: 10px;
  width: 10px;
  background-color: #fac800;
  border-radius: 50%;
  /* border: 2px solid black; */
}
.hr::before {
  content: " ";
  position: absolute;
  width: 8px;
  height: 75px;
  background-color: rgb(255, 0, 51);
  z-index: 10;
  border-radius: 50%;
}
.min::before {
  content: " ";
  position: absolute;
  width: 4px;
  height: 100px;
  background-color: rgb(128, 0, 255);
  z-index: 10;
  border-radius: 50%;
}
.sec::before {
  content: " ";
  position: absolute;
  width: 2px;
  height: 150px;
  background-color: aquamarine;
  z-index: 10;
  border-radius: 50%;
}

/* @import url("https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap"); */

.footer p {
  margin-top: 42rem;
  color: aliceblue;
  display: flex;
  text-indent: 5px;
  width: 100%;
  font-family: "Trade Winds", cursive;
  background: rgba(0, 0, 0, 0.303);
  border-radius: 20px;
  padding: 10px 20px;
  padding-left: 2rem;
}

.footer img {
  height: 24px;
  padding: 1px;
}
.icons span {
  /* display: flex; */
  flex-direction: row;
  grid-row: 2;
  padding: 2rem;
}
.icons img {
  transition: 0.4s;
}
.icons img:hover {
  -webkit-transform: rotateY(0deg) scale(1.7) skewX(-5deg);
  -moz-transform: rotateY(0deg) scale(1.7) skewX(-5deg);
  -ms-transform: rotateY(0deg) scale(1.7) skewX(-5deg);
  -o-transform: rotateY(0deg) scale(1.7) skewX(-5deg);
  transform: rotateY(0deg) scale(1.7) skewX(-5deg);
}
